<div class="border m-3 p-2">
    <h3>New Course</h3>
    <form @onsubmit="addCourse">
        <label>
            Subject:
            <input @bind="Subject" type="text" />
        </label>
        <label>
            Number:
            <input @bind="Number" type="number" />
        </label>
        <label>
            Title:
            <input @bind="Title" type="text" />
        </label>
        <button type="submit">Add Course</button>
    </form>
</div>

@code {
    public string Subject { get; set; }
    public int Number { get; set; }
    public string Title { get; set; }

    async Task addCourse()
    {
        CourseLogic.Instance.AddCourse(Subject, Number, Title);
        await CourseAdded.InvokeAsync();
    }

    [Parameter]
    public EventCallback CourseAdded{ get; set; }
}
