<h3>@Course.Subject @Course.Number (@Course.Title)</h3>
@foreach(var group in Course.AssignmentGroups)
{
    <ViewAssignmentGroup AssignmentGroup="group" />
}

<button @onclick="() => newCourseVisible = !newCourseVisible">Add New Course</button>
@if(newCourseVisible)
{
    <NewCourse CourseAdded="courseAdded" />
}

@code {
    bool newCourseVisible = false;
    [Parameter]
    public Course Course{ get; set; }
    void courseAdded()
    {
        newCourseVisible = false;
    }
}
