<div class="border m-1 p-2">
    <span class="h5 me-3">@Assignment.Name</span>
    <input @bind="Assignment.PointsEarned" @bind:after=updatePointsEarned type="number" style="width: 45px" /> 
    out of @Assignment.PointsPossible possible
</div>
@code {
    [Parameter]
    public Assignment Assignment { get; set; }

    void updatePointsEarned()
    {
        CourseLogic.Instance.SetAssignmentPoints(Assignment.Id, Assignment.PointsEarned);
    }
}
