<div class="border m-3 p-2">
    <h3>@Course.Subject @Course.Number (@Course.Title)</h3>
    @foreach (var group in Course.AssignmentGroups)
    {
        <ViewAssignmentGroup AssignmentGroup="group" />
    }

    @if (newButtonVisible)
    {
        <NewAssignmentGroup CourseId="Course.Id" Added="added" />
    }
    else
    {
        <button @onclick="() => newButtonVisible = !newButtonVisible">Add Assignment Group</button>
    }
</div>

@code {
    bool newButtonVisible = false;
    void added()
    {
        newButtonVisible = false;
    }
    [Parameter]
    public Course Course { get; set; }
}
